name: Tests

on:
  workflow_call:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

jobs:
  run-unit-tests:
    name: Test with Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.12, 3.13]

    steps:
      - name: Setup | Checkout Repository
        uses: actions/checkout@v4

      - name: Setup | Install Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup | Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install -r requirements.test.txt

      - name: Action | Run Unit Tests
        run: pytest tests/unit --disable-warnings -v -m "not testnet"
